<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" (click)="goHomePage()" href="#">CatMash</a>
  <div class="collapse navbar-collapse d-flex justify-content-center flex-basis-auto">
    <ul class="navbar-nav d-flex flex-row justify-content-center">
      <li class="nav-item bg-info mr-2 cursor-pointer">
        <a class="nav-link text-white" (click)="play()" href="#">Play</a>
      </li>
      <li class="nav-item bg-info mr-2 cursor-pointer">
        <a class="nav-link text-white" (click)="seeScore()" href="#"
          >See score</a
        >
      </li>
    </ul>
  </div>
</nav>

<app-Home *ngIf="goHome"></app-Home>
<app-play
  [hidden]="!wantToPlay"
  [cats]="cats"
  [processedCats]="processedCats"
></app-play>
<app-score *ngIf="wantSeeScore" [processedCats]="processedCats"></app-score>
