<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="/home">CatMash</a>
  <div *ngIf="loggedIn()" class="collapse navbar-collapse d-flex justify-content-center flex-basis-auto">
    <ul class="navbar-nav d-flex flex-row justify-content-center">
      <li class="nav-item bg-info mr-2 cursor-pointer">
        <a class="nav-link text-white" href="/play">Play</a>
      </li>
      <li class="nav-item bg-info mr-2 cursor-pointer">
        <a class="nav-link text-white" href="/score"
          >See score</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>