<div class="container-sm">
  <div *ngIf="hasFinishedPlaying()" class="alert alert-success" role="alert">
    Congrats, you finshed the game
  </div>
  <div *ngIf="cats && cats.length > 0" class="row radio-btns hover-cat">
    <div class="col center-div color-1 h-auto ptb-3 radio-btns__btn">
      <div *ngIf="firstCat">
        <div class="curson-p figure" (click)="vote(firstCat)">
          <img
            class="rounded-circle img-border-1 img-fluid"
            alt="cat"
            [src]="firstCat.url"
            data-holder-rendered="true"
          />
        </div>
      </div>
    </div>
    <div class="col center-div color-2 h-auto ptb-3 radio-btns__btn">
      <div *ngIf="secondCat">
        <div class="curson-p figure" (click)="vote(secondCat)">
          <img
            class="rounded-circle img-border-2 img-fluid"
            alt="cat"
            [src]="secondCat.url"
            data-holder-rendered="true"
          />
        </div>
      </div>
    </div>
  </div>
</div>
